@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Roboto_Slab;
    src: url('/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}
body {
    background-image: url('https://www.gehu.ac.in/assets/GEHU-BTL-b80ef66e.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Roboto_Slab;
    
}
main {
    width: 100%;
    min-height: calc(100vh - 6rem);
}
.texts {
    text-shadow: 0px 0px 5px white;
}
.btexts {
    text-shadow: 4px 5px 0px black;
}
.wtexts {
    text-shadow: 4px 5px 0px white;
}
.boxani{
    transform: scale(1.25) rotateY(360deg);
}
.boss {
    width: 300px;
    height:400px;
    transition-duration: 500ms;
    box-shadow: 10px 10px 3px rgb(0, 0, 0, .6);
}

@media screen and (min-width: 1100px) {
    .order-n {
        order: 3;
        width: 450px;
        height: 500px;
    }
}
@media screen and (max-width: 1100px) {
    .boss:nth-child(1) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .boss:nth-child(1) > img{
        width: 400px;
    }
    .boss:nth-child(1) > h4{
        background-color: transparent;
    }
}
#form-box {
    box-shadow: 6px 6px 10px rgb(15, 4, 4, 1);
}
.mem {
    box-shadow: 8px 10px 3px rgb(0, 0, 0, 0.8);
}
.cusgrid{
    display: grid;
    grid-template-columns: 6rem 1fr 6rem; 
}
@media screen and (max-width: 640px) {
    .cusgrid{
        grid-template-columns: 4rem 1fr 4rem;
    } 
}
.fixedbgvideo {
    @apply top-0 bottom-0 left-0 right-0 fixed z-0 flex justify-center items-center;
}
.fixedbgvideo > video {
    @apply max-w-none min-h-screen;
}
.screenbgvideo {
    @apply top-0 bottom-0 left-0 right-0 absolute z-0 flex justify-center items-center overflow-hidden;
}
.screenbgvideo > video {
    @apply xl:w-full h-full xl:h-auto w-auto max-w-none;
}
.tri-left{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: white;
    border-left-color: white;
}
.tri-right{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: white;
    border-right-color: white;
}
.FormDiv {
    @apply flex flex-wrap justify-center items-center mb-5 sm:justify-start sm:m-10;
}
.FormLabel {
    @apply w-full font-bold px-2 text-center sm:text-left sm:text-2xl;
}
.FormInput {
    @apply h-7 px-2 rounded w-3/4 sm:mx-2 sm:w-full md:h-10 md:text-xl;
    box-shadow: 6px 6px 10px rgb(15, 4, 4, 1);
}
